{% extends "base.html"%}
{% load staticfiles %}
{% block body %}
   <!-- Event Welcome Area Start -->
   <section class="event-welcome-area bg-overlay bg-img jarallax" style="background-image: url({% static 'img/bg-img/54.jpg'%});">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-9">
                <div class="event-welcome-text text-center">
                    <span>Here are the all past and present Events</span>
                    <h2>Search for the Blogs</h2>
                    {% if sr %}
                    <h2>Total Results {{sr}}</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Event Welcome Area End -->

<!-- Event Search Area Start -->
<div class="event-search-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="event-search-content">
                    <form action="{% url 'mysongs:blog'%}" class="search-form">
                        <div class="row align-items-end">
                            <div class="col-sm-6 col-lg-3">
                                <div class="form-group">
                                    <label for="search">Search</label>
                                    <input type="search" class="form-control" id="search" placeholder="Keywords Here..." name="keyword">
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="form-group text-right">
                                    <button type="submit" class="btn razo-btn w-100">Search Blog</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Event Search Area End -->

<!-- Razo Event Area Start -->
<section class="razo-events-area section-padding-0-80">
    <div class="container">
        <div class="row">
            {% for i in blogs %}
            <!-- Single Razo Event Area -->
            <div class="col-12">
                <div class="single-razo-event-area d-flex flex-wrap align-items-center mb-50 wow fadeInUp" data-wow-delay="100ms">
                    <!-- Thumbnail -->
                    <div class="event-thumbnail">
                        <img src="/media/{{i.media}}" alt="">
                    </div>
                    <!-- Event Content -->
                    <div class="event-content d-flex align-items-center">
                        <div class="event-text">
                            <h5>{{i.title}}</h5>
                            <div class="event-meta">
                                <a href="#" class="event-date"><i class="fas fa-calendar"></i> {{i.date}}</a>
                                <a href="#" class="event-time"><i class="fas fa-clock"></i> {{i.time}}</a>
                                <a href="#" class="event-time"><i class="fas fa-user"></i> {{i.user.user.first_name}}</a>
                                <a href="#" class="event-address"><i class="fas fa-map-marker-alt"></i> {{i.user.city}}</a>
                            </div>
                            <p>
                                {{i.description}}
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Razo Event Area End -->
{% endblock %}