{% extends "base.html"%}
{% load staticfiles %}
{% block body %}

<!-- Music Charts Portfolio Area Start -->
<section class="razo-charts-portfolio-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2>All Albums ({{total}})</h2>
                </div>
            </div>
            {% for i in albums %}
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-charts-portfolio mb-30 text-center">
                    <img src="/media/{{i.cover}}" alt="" style="height:300px; width:200px;">
                    <!-- Overlay -->
                    <div class="overlay-content">
                        <div class="text-center">
                            <h5>{{i.title}}</h5>
                            <p>{{i.added_on}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="view-more-button text-center">
                            <a href="{% url 'mysongs:single_album'%}?id={{i.id}}" class="btn razo-btn mt-30">Browse...</a>
                        </div>
                    </div>
                </div>
                
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Music Charts Portfolio Area End -->

<!-- Music Charts Area Start -->
<section class="razo-music-charts-area section-padding-80 bg-overlay bg-img jarallax" style="background-image: url({% static 'img/bg-img/34.jpg'%});">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading text-center white">
                    <h2>MOST PLAYED TRACKS OF THE WEEK</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <script>let i=0;</script>
                {% for i in trending %}
                <script>i++;</script>
                <!-- Single Music Chart -->
                <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
                    <!-- Music Content -->
                    <div class="music-content d-flex align-items-center">
                        <div class="sl-number">
                            <h5><script>document.write(i);</script>.</h5>
                        </div>
                        <div class="music-thumb">
                            <img src="/media/{{i.cover}}" alt="">
                        </div>
                        <div class="audio-player">
                            <audio preload="auto" controls>
                                <source src="/media/{{i.file}}">
                            </audio>
                        </div>
                        <div class="music-title">
                            <h5>{{i.name}} - <span>{{i.singer.name}}<adi/span></h5>
                        </div>
                    </div>
                    <!-- Music Price -->
                    <div class="music-price">
                        <a href="/media/{{i.file}}" class="btn razo-btn btn-2" download>Download</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- Music Charts Area End -->

{% endblock %}