{% extends "base.html"%}
{% load staticfiles %}
{% block body %}
<!-- Welcome Area Start -->
<section class="welcome-area">
        <div class="welcome-slides owl-carousel">

            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/1.jpg'%});">
                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center justify-content-center">
                            <!-- Welcome Text -->
                            <div class="col-12 col-md-9 col-lg-6">
                                <div class="welcome-text text-center">
                                    <h2 data-animation="fadeInUpBig" data-delay="100ms">SongZila is number one choice for Music Lovers</h2>
                                    <h5 data-animation="fadeInUpBig" data-delay="400ms"> - We keeps you upgraded.... We have all type of songs per your choice .... Don't skip anything...</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% for i in all_type %}
            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(/media/{{i.cover}});">
                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center justify-content-center">
                            <!-- Welcome Text -->
                            <div class="col-12 col-md-10 col-lg-6">
                                <div class="welcome-text text-center">
                                    <h2 data-animation="fadeInUp" data-delay="100ms">{{i.title}}</h2>
                                    <h5 data-animation="fadeInUp" data-delay="400ms">Updated on ... {{i.added_on}}</h5>
                                    <a href="{% url 'mysongs:filter_songs'%}?category={{i.title}}" class="btn razo-btn btn-2" data-animation="fadeInUp" data-delay="700ms">Browse Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </section>
    <!-- Welcome Area End -->

    <!-- Blog Area Start -->
    <section class="razo-blog-area section-padding-80-0">
        <div class="container">
            <div class="row">
                <!-- Weekly News Area -->
                <div class="col-12 col-md-12">
                    <div class="weekly-news-area mb-50">
                        <!-- Section Heading -->
                        <div class="section-heading">
                            <h2>Blog New</h2>
                        </div>

                        <!-- Featured Post Area -->
                        <div class="featured-post-area bg-img bg-overlay mb-30" style="background-image: url(/media/{{all_blog.0.img}});">
                            <!-- Post Overlay -->
                            <div class="post-overlay">
                                <a href="{% url 'mysongs:blog'%}" class="post-title">{{all_blog.0.title}}</a>
                            </div>
                        </div>

                        <div class="row">
                        {% for i in all_blog %}
                            <!-- Single Post Area -->
                            <div class="col-12 col-md-6">
                                <div class="razo-single-post d-flex mb-30">
                                    <!-- Post Thumbnail -->
                                    <div class="post-thumbnail">
                                        <a href="{% url 'mysongs:blog'%}"><img src="/media/{{i.img}}" alt=""></a>
                                    </div>
                                    <!-- Post Content -->
                                    <div class="post-content">
                                        <a href="{% url 'mysongs:blog'%}" class="post-title">{{i.title}}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Area End -->

    <!-- Music Charts Area Start -->
    <section class="razo-music-charts-area section-padding-80 bg-overlay bg-img jarallax" style="background-image: url({% static 'img/bg-img/31.jpg'%});">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-sm-6">
                    <div class="section-heading white">
                        <h2>Latest Songs</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">

                    <!-- Single Music Chart -->
                    <script>
                        let c=0
                    </script>
                    {% for i in songs %}
                    <script>
                        c++;
                    </script>
                    <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
                        <!-- Music Content -->
                        <div class="music-content d-flex align-items-center">
                            <div class="sl-number">
                                <h5>
                                    <script>document.write(c);</script>
                                </h5>
                            </div>
                            <div class="music-thumb">
                                <img src="/media/{{i.cover}}" alt="">
                            </div>
                            <div class="audio-player">
                                <audio preload="auto"  controls>
                                    <source src="/media/{{i.file}}">
                                </audio>
                            </div>
                            <div class="music-title">
                                <h5>{{i.name}} - <span>{{i.singer.name}}</span></h5>
                            </div>
                        </div>
                        <!-- Music Price -->
                        <div class="music-price">
                            <a href="/media/{{i.file}}" class="btn razo-btn btn-2" download>Download</a>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Music Charts Area End -->

    <!-- Trending Video Area Start -->
    <section class="razo-trending-video-area section-padding-80-0 mb-50">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Trending On SongZila</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-12">
    
                        <!-- Single Music Chart -->
                        <script>
                            let d=0
                        </script>
                        {% for i in trending %}
                        <script>
                            d++;
                        </script>
                        <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
                            <!-- Music Content -->
                            <div class="music-content d-flex align-items-center">
                                <div class="sl-number">
                                    <h5>
                                        <script>document.write(d);</script>
                                    </h5>
                                </div>
                                <div class="music-thumb">
                                    <img src="/media/{{i.cover}}" alt="">
                                </div>
                                <div class="audio-player">
                                    <audio preload="auto"  controls>
                                        <source src="/media/{{i.file}}">
                                    </audio>
                                </div>
                                <div class="music-title">
                                    <h5>{{i.name}} - <span>{{i.singer.name}}</span></h5>
                                </div>
                            </div>
                            <!-- Music Price -->
                            <div class="music-price">
                                <a href="/media/{{i.file}}" class="btn razo-btn btn-2" download>Download</a>
                            </div>
                        </div>
                        {% endfor %}
                        
                    </div>
                </div>

        </div>
    </section>
    <!-- Trending Video Area End -->

    <!-- Latest News Area Start -->
    <section class="razo-latest-news-area section-padding-80 bg-overlay bg-img jarallax" style="background-image: url(img/bg-img/32.jpg);">
        <div class="container">
            <div class="row align-items-end">
                <!-- Section Heading -->
                <div class="col-sm-6">
                    <div class="section-heading white">
                        <h2>Latest News</h2>
                    </div>
                </div>
                <!-- Show All Button -->
                <div class="col-sm-6">
                    <div class="show-all-button mb-50 text-right">
                        <a href="#" class="btn show-all-btn">Show All Blog</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Razo Latest News Slide -->
        <div class="razo-latest-news-slide owl-carousel">
            {% for i in all_blog%}
            <!-- Single Latest News Area -->
            <div class="razo-single-latest-news-area bg-overlay bg-img" style="background-image: url(/media/{{i.img}});">
                <!-- Post Content -->
                <div class="post-content">
                    <a href="{% url 'mysongs:blog'%}" class="post-title">{{i.title}}</a>
                    <p>{{i.desc}}...</p>
                </div>
                <!-- Post Date -->
                <div class="post-date">
                    <h2>{{i.date}}</h2>
                    <p>{{i.month}}, {{i.year}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- Latest News Area End -->
    {% if status %}
        <script>
        alert('{{status}}');
        windown.location = '/';
        </script>
    {% endif %}
{% endblock %}