{% extends "base.html"%}
{% load staticfiles %}
{% block body %}
{% if fil_lang %}
  <!-- Single Music Charts Details Area Start -->
  <section class="single-music-charts-details section-padding-80-0 jarallax" style="background-color:white;color:#e91876;">
    <div class="container">
        <div class="row align-items-center">
            <!-- Content -->
            <div class="col-12 col-md-6">
                <div class="chart-details-content mb-80">
                    <h2 style="color:#e91876;">{{result}}({{total}})</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Single Music Charts Details Area End -->

<!-- Music Charts Area Start -->
<section class="razo-music-charts-area section-padding-80 bg-overlay bg-img jarallax" style="background-image: url({% static 'img/bg-img/31.jpg'%});">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <!-- Single Music Chart -->
                <script>
                    let c=0
                </script>
                {% for i in songs %}
                <script>
                    c++;
                </script>
                <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
                    <!-- Music Content -->
                    <div class="music-content d-flex align-items-center">
                        <div class="sl-number">
                            <h5>
                                <script>document.write(c);</script>
                            </h5>
                        </div>
                        <div class="music-thumb">
                            <img src="/media/{{i.cover}}" alt="">
                        </div>
                        <div class="audio-player">
                            <audio preload="auto"  controls>
                                <source src="/media/{{i.file}}">
                            </audio>
                        </div>
                        <div class="music-title">
                            <h5>{{i.name}} - <span>{{i.singer.name}}</span></h5>
                        </div>
                    </div>
                    <!-- Music Price -->
                    <div class="music-price">
                        <a href="/media/{{i.file}}" class="btn razo-btn btn-2" download>Download</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- Music Charts Area End -->

<!-- You May Like Area Start -->
<section class="razo-you-may-like-area">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-sm-6">
                <div class="section-heading">
                    <h2>YOU MAY ALSO LIKE</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for i in fil_lang %}
            <div class="col-12 col-md-6 col-lg-4 text-center">
                <a href="{% url 'mysongs:filter_songs'%}?name={{i.name}}">
                <div class="single-show-item mb-30">
                    <img src="{% static 'img/bg-img/59.jpg'%}" alt="">
                    <div class="overlay-content">
                        <div class="text-center">
                            <h5>{{i.name}}</h5>
                            <span>Updated On - {{i.added_on}}</span>
                        </div>
                    </div>
                </div>
            </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- You May Like Area End -->
{% endif %}
{% if fil_cat %}
  <!-- Single Music Charts Details Area Start -->
  <section class="single-music-charts-details section-padding-80-0 jarallax" style="background-color:white;color:#e91876;">
        <div class="container">
            <div class="row align-items-center">
                <!-- Content -->
                <div class="col-12 col-md-6">
                    <div class="chart-details-content mb-80">
                        <h2 style="color:#e91876;">{{result}}({{total}})</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Single Music Charts Details Area End -->
    
    <!-- Music Charts Area Start -->
    <section class="razo-music-charts-area section-padding-80 bg-overlay bg-img jarallax" style="background-image: url({% static 'img/bg-img/31.jpg'%});">
        <div class="container">
            <div class="row">
                <div class="col-12">
    
                    <!-- Single Music Chart -->
                    <script>
                        let c=0
                    </script>
                    {% for i in songs %}
                    <script>
                        c++;
                    </script>
                    <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
                        <!-- Music Content -->
                        <div class="music-content d-flex align-items-center">
                            <div class="sl-number">
                                <h5>
                                    <script>document.write(c);</script>
                                </h5>
                            </div>
                            <div class="music-thumb">
                                <img src="/media/{{i.cover}}">
                            </div>
                            <div class="audio-player">
                                <audio preload="auto"  controls>
                                    <source src="/media/{{i.file}}">
                                </audio>
                            </div>
                            <div class="music-title">
                                <h5>{{i.name}} - <span>{{i.singer.name}}</span></h5>
                            </div>
                        </div>
                        <!-- Music Price -->
                        <div class="music-price">
                            <a href="/media/{{i.file}}" class="btn razo-btn btn-2" download>Download</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Music Charts Area End -->
    
    <!-- You May Like Area Start -->
    <section class="razo-you-may-like-area">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-sm-6">
                    <div class="section-heading">
                        <h2>YOU MAY ALSO LIKE</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for i in fil_cat %}
                <div class="col-12 col-md-6 col-lg-4 text-center">
                    <a href="{% url 'mysongs:filter_songs'%}?category={{i.title}}">
                    <div class="single-show-item mb-30">
                        <img src="/media/{{i.cover}}" alt="" style="height:200px;">
                        <div class="overlay-content">
                            <div class="text-center">
                                <h5>{{i.title}}</h5>
                                <span>Updated On - {{i.added_on}}</span>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- You May Like Area End -->
{% endif %}
{% for i in all_songs%}
<section class="single-music-charts-details section-padding-80-0 jarallax" style="background-color:white;color:#e91876;">
        <div class="container">
            <div class="row align-items-center">
                <!-- Content -->
                <div class="col-12 col-md-6">
                    <div class="chart-details-content mb-80">
                        <h2 style="color:#e91876;"><ins>{{i.type}}</ins> ({{i.total}})</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Single Music Charts Details Area End -->
    <!-- Music Charts Area Start -->
    <section class="razo-music-charts-area section-padding-80 bg-overlay bg-img jarallax" style="background-image: url(/media/{{i.type.cover}});">
        <div class="container">
            <div class="row">
                <div class="col-12">
    
                    <!-- Single Music Chart -->
                    <script>
                        var c=0
                    </script>
                    {% for j in i.songs %}
                    <script>
                        c++;
                    </script>
                    <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
                        <!-- Music Content -->
                        <div class="music-content d-flex align-items-center">
                            <div class="sl-number">
                                <h5>
                                    <script>document.write(c);</script>
                                </h5>
                            </div>
                            <div class="music-thumb">
                                <img src="/media/{{j.cover}}" alt="">
                            </div>
                            <div class="audio-player">
                                <audio preload="auto"  controls>
                                    <source src="/media/{{j.file}}">
                                </audio>
                            </div>
                            <div class="music-title">
                                <h5>{{j.name}} - <span>{{j.singer.name}}</span></h5>
                            </div>
                        </div>
                        <!-- Music Price -->
                        <div class="music-price">
                            <a href="/media/{{j.file}}" class="btn razo-btn btn-2" download>Download</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% endfor %}


   {%if d == 0 %}
   <section class="single-music-charts-details section-padding-80-0 jarallax" style="background-color:white;color:#e91876;">
    <div class="container">
        <div class="row align-items-center">
            <!-- Content -->
            <div class="col-12 col-md-6">
                <div class="chart-details-content mb-80">
                    <h2 style="color:#e91876;">{{d}} Total results for "{{sfor}}"</h2>
                </div>
            </div>
        </div>
    </div>
</section>
   {% endif %}

    {% if all_results %}
    <section class="razo-music-charts-area section-padding-80 bg-overlay bg-img jarallax" style="background-image: url({% static 'img/bg-img/31.jpg'%});">
        <div class="container">
            <div class="row">
                <div class="col-12">
    
                    <!-- Single Music Chart -->
                    <script>
                        let d=0
                    </script>
                    {% for i in all_results %}
                    <script>
                        d++;
                    </script>
                    <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
                        <!-- Music Content -->
                        <div class="music-content d-flex align-items-center">
                            <div class="sl-number">
                                <h5>
                                    <script>document.write(d);</script>
                                </h5>
                            </div>
                            <div class="music-thumb">
                                <img src="/media/{{i.cover}}" alt="">
                            </div>
                            <div class="audio-player">
                                <audio preload="auto"  controls>
                                    <source src="/media/{{i.file}}">
                                </audio>
                            </div>
                            <div class="music-title">
                                <h5>{{i.name}} - <span>{{i.singer.name}}</span></h5>
                            </div>
                        </div>
                        <!-- Music Price -->
                        <div class="music-price">
                            <a href="/media/{{i.file}}" class="btn razo-btn btn-2" download>Download</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    
    {% endif %}

{% endblock %}