{% extends "base.html"%}
{% load staticfiles %}
{% load bootstrap4 %}
{% block body %}
<style>
label{
    display:none;
}
</style>
<section class="blog-details-post-thumbnail-area bg-overlay bg-img jarallax" style="background-image: url({% static 'img/bg-img/53.jpg'%});height:200px;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="post-title-text">
                    <h2>Create Your Accout</h2>
                    <div class="post-meta">
                        <a href="">By Creating Account You Can Enjoy By Uploading Blog Posts</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 mx-auto">
                <div class="shadow shadow-lg m-5 p-5">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form1%}
                    {% bootstrap_form form2%}
                    <input type="submit" class="btn btn-warning">
                </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% if status %}
    <script>
    alert('{{status}}');
    windown.location = '/';
    </script>
{% endif %}

{% endblock %}