{% extends "base.html"%}
{% load staticfiles %}
{% block body %}
  <!-- Single Music Charts Details Area Start -->
  <section class="single-music-charts-details bg-overlay bg-img section-padding-80-0 jarallax" style="background-image: url({% static 'img/bg-img/34.jpg'%});">
    <div class="container">
        <div class="row align-items-center">
            <!-- Thumbnail -->
            <div class="col-12 col-md-6">
                <div class="chart-details-thumbnail mb-80 shadow shadow-lg">
                    <img src="/media/{{songs.0.album.cover}}" class="shadow shadow-lg">
                </div>
            </div>
            <!-- Content -->
            <div class="col-12 col-md-6">
                <div class="chart-details-content mb-80">
                    <h2>{{songs.0.album.title}}</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Single Music Charts Details Area End -->

<!-- Music Charts Area Start -->
<section class="razo-music-charts-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <script>let i=0;</script>
                {% for i in songs %}
                <script>i++;</script>
                <!-- Single Music Chart -->
                <div class="single-music-chart style-2 d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
                    <!-- Music Content -->
                    <div class="music-content d-flex align-items-center">
                        <div class="sl-number">
                            <h5><script>document.write(i);</script>.</h5>
                        </div>
                        <div class="music-thumb">
                            <img src="/media/{{i.cover}}" alt="">
                        </div>
                        <div class="audio-player">
                            <audio preload="auto" controls>
                                <source src="/media/{{i.file}}">
                            </audio>
                        </div>
                        <div class="music-title">
                            <h5>{{i.name}} - <span>{{i.singer.name}}</span></h5>
                        </div>
                    </div>
                    <!-- Music Price -->
                    <div class="music-price">
                        <a href="/media/{{i.file}}" class="btn razo-btn" download>Download Now</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- Music Charts Area End -->

<!-- You May Like Area Start -->
<section class="razo-you-may-like-area">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-sm-6">
                <div class="section-heading">
                    <h2>YOU MAY ALSO LIKE</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for i in other_albums %}
            <!-- Single Charts Portfolio -->
            <div class="col-12 col-md-6 col-lg-4 text-center">
                <a href="{% url 'mysongs:single_album'%}?id={{i.id}}">
                <div class="single-charts-portfolio mb-80">
                    <img src="/media/{{i.cover}}" alt="" style="height:300px;width:200px;">
                    <!-- Overlay -->
                    <div class="overlay-content">
                        <div class="text-center">
                            <h5>{{i.title}}</h5>
                            <p>{{i.added_on}}</p>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- You May Like Area End -->
{% endblock %}